In [23]:
import os

# ./my_courses 디렉토리 경로
input_dir = "./my_courses"
output_sql_path = "./insert_ai_plan.sql"

# SQL 파일 열기
with open(output_sql_path, "w", encoding="utf-8") as sql_file:
    ai_plan_id = 1
    ai_plan_detail_id = 1

    # 디렉토리 내 파일 처리
    for file_name in os.listdir(input_dir):
        if file_name.endswith(".txt"):  # .txt 파일만 처리
            # area_code 추출
            area_code = int(file_name.split('_')[0])

            # 파일 읽기 및 eval()로 travel_plans 생성
            file_path = os.path.join(input_dir, file_name)
            with open(file_path, "r", encoding="utf-8") as f:
                file_content = f.read()
                travel_plans = eval(file_content)  # 3중 리스트로 변환
            
            # travel_plans 데이터 처리
            for i in range(len(travel_plans)):
                level = i + 1

                # ai_plan INSERT
                ai_plan_insert = (
                    f"INSERT INTO ai_plan (id, level, area_code) "
                    f"VALUES ({ai_plan_id}, {level}, {area_code});\n"
                )
                sql_file.write(ai_plan_insert)

                # ai_detail_plan INSERT
                for j in range(len(travel_plans[i])):
                    attraction_id = travel_plans[i][j][0]
                    day = j // 5 + 1
                    sequence = j%5+1

                    ai_detail_plan_insert = (
                        f"INSERT INTO ai_detail_plan (id, day, sequence, ai_plan_id, attraction_id) "
                        f"VALUES ({ai_plan_detail_id}, {day}, {sequence}, {ai_plan_id}, {attraction_id});\n"
                    )
                    sql_file.write(ai_detail_plan_insert)

                    ai_plan_detail_id += 1

                ai_plan_id += 1

print(f"SQL INSERT statements have been written to {output_sql_path}")

SQL INSERT statements have been written to ./insert_ai_plan.sql