결론
1. attraction_mission.csv에 ""처리를 해야 오류가 안남
2. 경기도 충청남도 전북, 서울, 경상북도, 경상남도, 강원 을 테스트 하는것을 권장
3. 제주도와 전라남도는 제외 시킬것

# 오류 전처리

In [36]:
with open('./output/attraction_mission.csv','r') as f:
    misssions = f.read().split('\n')

In [37]:
from collections import Counter
a = Counter([len(m.split(',')) for m in misssions])
a

Counter({10: 23754, 11: 396, 12: 6, 1: 1})

In [38]:
# [m for m in misssions if len(m.split(','))==11]

In [39]:
# m=misssions[1]
# m[:m.find(',')]+'\"'+m[m.find(',')+1:-16]+"\""+m[-16:]

In [40]:
for i in range(1,len(misssions)-1):
    m = misssions[i]
    misssions[i] = m[:m.find(',')+1]+'\"'+m[m.find(',')+1:-16]+"\""+m[-16:]

In [41]:
from collections import Counter
a = Counter([len(m.split(',')) for m in misssions])
a

Counter({10: 23754, 11: 396, 12: 6, 1: 1})

In [46]:
# for m in misssions:
#     if len(m.split(','))==12:
#         print(m)

In [52]:
with open('./output/after_attraction_mission.csv','w') as f:
    for i in misssions[:-1]:
        f.write(str(i)+'\n')

In [53]:
import pandas as pd
df = pd.read_csv('./output/after_attraction_mission.csv')

In [54]:
df

,attraction_id,mission,level,근력,근지구력,유연성,심폐지구력,민첩성,순발력,평형성
0,1364975,충무공 이순신 동상 앞에서 요가 자세로 다양한 자세 사진 찍기,3,0,0,1,0,0,0,1
1,1364975,충무공 이순신 동상 주위에서 5바퀴 조깅한 후 사진 찍기,2,1,0,0,1,0,0,0
2,1364975,주변 랜드마크를 찾아 이동하며 각 장소에서 포즈 취하기,4,0,0,0,1,1,0,0
3,1364975,이순신 동상과 함께 자신이 가장 좋아하는 포즈로 인생샷 찰칵하기,3,1,0,1,0,0,0,0
4,1364975,전통적인 무사 포즈를 취하며 사진 찍기,3,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
24150,2965611,정원페스티벌의 특정 정원 구역까지 빠르게 이동한 후 사진 찍기,3,0,0,0,1,1,0,0
24151,2965611,정원 내 다양한 꽃과 나무에 대해 정보를 찾아 인증 사진 찍기,4,0,0,1,0,1,0,0
24152,2965611,정원페스티벌에서 주어진 시간 내에 특정 식물의 이름을 찾아내기,3,0,0,0,1,0,1,0
24153,2965611,정원에서 다양한 포즈로 친구와 함께 기념사진 촬영하기,2,0,0,1,0,0,0,1
24154,2965611,정원페스티벌의 전통 놀이(예: 투호)를 시간 내에 성공적으로 수행하기,5,1,0,0,0,1,0,0

# 에러 확인

In [1]:
with open('output/error_log.txt','r') as f:
    errors=f.read().split('\n')

In [56]:
df2 = pd.read_csv('./output/filtered_attractions.csv')

In [66]:
# df2

In [74]:
for e in errors[9:-1]:
    aid=int(e[e.find("ID ")+3 : e.find(":")])
#     print(df2[df2['content_id']==aid].index)

In [75]:
# df2.iloc[4846:]

In [76]:
# df[df['attraction_id']==2704779]

In [77]:
# e = errors[9]
# aid=int(e[e.find("ID ")+3 : e.find(":")])
# df2[df2['content_id']==aid]

In [80]:
df.attraction_id.unique()

array([1364975,  127642, 2761661, ..., 2704779,  553448, 2965611])

In [83]:
tmp = df.attraction_id.unique()
df2[df2["content_id"].isin(tmp)].area_code.value_counts()

31    400
34    400
37    400
1     399
35    399
36    399
32    398
2     350
6     350
33    349
4     300
3     199
5     150
7     150
8      99
38     89
Name: area_code, dtype: int64

경기도 충청남도 전북, 서울, 경상북도, 경상남도, 강원 을 테스트 하는것을 권장

In [91]:
pd.options.display.max_rows = 85
attractions_df = pd.read_csv("output/filtered_attractions.csv")
excluded_ids = [39, 25, 32]
attractions_df = attractions_df[~attractions_df['content_type_id'].isin(excluded_ids)]
content_count_by_sido = attractions_df.groupby(["area_code", "content_type_id"]).size().reset_index(name="count")
content_count_by_sido

    area_code  content_type_id  count
0           1               12     50
1           1               14     50
2           1               15     50
3           1               28     50
4           1               38     50
5           2               12     50
6           2               14     50
7           2               15     50
8           2               28     50
9           2               38     50
10          3               12     50
11          3               14     50
12          3               15     35
13          3               28     27
14          3               38     50
15          4               12     50
16          4               14     50
17          4               15     50
18          4               28     50
19          4               38     50
20          5               12     50
21          5               14     50
22          5               15     20
23          5               28     20
24          5               38     50
25          6               12     50
26          6               14     50
27          6               15     50
28          6               28     50
29          6               38     50
30          7               12     50
31          7               14     38
32          7               15     24
33          7               28     44
34          7               38     50
35          8               12     50
36          8               14     16
37          8               15     12
38          8               28     11
39          8               38      8
40         31               12     50
41         31               14     50
42         31               15     50
43         31               28     50
44         31               38     50
45         32               12     50
46         32               14     50
47         32               15     50
48         32               28     50
49         32               38     50
50         33               12     50
51         33               14     50
52         33               15     45
53         33               28     50
54         33               38     50
55         34               12     50
56         34               14     50
57         34               15     50
58         34               28     50
59         34               38     50
60         35               12     50
61         35               14     50
62         35               15     50
63         35               28     50
64         35               38     50
65         36               12     50
66         36               14     50
67         36               15     50
68         36               28     50
69         36               38     50
70         37               12     50
71         37               14     50
72         37               15     50
73         37               28     50
74         37               38     50
75         38               12     50
76         38               14     50
77         38               15     50
78         38               28     50
79         38               38     50
80         39               12     50
81         39               14     50
82         39               15     50
83         39               28     50
84         39               38     50

In [89]:
attractions_df = df2[df2["content_id"].isin(tmp)]
excluded_ids = [39, 25, 32]
attractions_df = attractions_df[~attractions_df['content_type_id'].isin(excluded_ids)]
content_count_by_sido = attractions_df.groupby(["area_code", "content_type_id"]).size().reset_index(name="count")
content_count_by_sido.tail(50)

    area_code  content_type_id  count
14          4               14     50
15          4               28     50
16          4               38     50
17          5               12     50
18          5               38     50
19          6               12     50
20          6               14     50
21          6               15     50
22          6               28     50
23          6               38     50
24          7               12     50
25          7               38     50
26          8               12     50
27         31               12     50
28         31               14     50
29         31               15     50
30         31               28     50
31         31               38     50
32         32               12     50
33         32               14     50
34         32               15     49
35         32               28     49
36         32               38     50
37         33               12     50
38         33               14     50
39         33               28     50
40         33               38     50
41         34               12     50
42         34               14     50
43         34               15     50
44         34               28     50
45         34               38     50
46         35               12     50
47         35               14     50
48         35               15     50
49         35               28     50
50         35               38     50
51         36               12     50
52         36               14     50
53         36               15     50
54         36               28     49
55         36               38     50
56         37               12     50
57         37               14     50
58         37               15     50
59         37               28     50
60         37               38     50
61         38               12     50
62         38               14     38
63         38               15      1

제주도와 전라남도는 제외 시킬것